/*################## UNIVERSAL GENERIC DECLARATIONs ######################*/
/*declared the common font family overall*/
.body {
    background-image: linear-gradient(to right bottom, #e53f9d, #d55bba, #c172d0, #ab86df, #9796e7, #81a2ed, #6eacee, #60b5ec, #42bde9, #29c4e1, #29cad5, #41cfc5);
    color: #ffffff;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    margin: 0;
}

/*####Horizontal rule styling*/
hr {
    border: dotted #4c50531a 9px;
    border-bottom: none;
    width: 30%;
    margin-bottom: 30px;
    margin: 90px auto;

}

/*####Link styling*/
a {
    color: #F38BA0;
    text-decoration: none;
}

a:hover {
    color: #8a71ec !important;
}

a:visited {
    color: #e2173f;
}

::selection {
    background-color: hotpink;
}

/*####Added button style..imported from cssbuttons.io*/
button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border-radius: 30px;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
}

button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
}

button:active {
    transform: scale(0.9);
}

/*########Footer class############*/
.footer {
    background: rgba(255, 255, 255, 0.094);
    background-blend-mode: overlay;
    max-width: 100%;
    padding-bottom: 70px;
}

.footer p {
    max-width: 400px;
    margin: auto;
    padding-top: 40px;
}

/*################## FIGUTE CAPTIONS UNIVERSAL ######################*/
#figcaption {
    font-size: 1rem;
    font-weight: 550;
}


/*##############--------------------CLASS AND ID SELECTORS-----------------########################*/

/*###############################--------------INDEX.html----------------###################################*/



/*#####GROUPED ELEMENTS sharing same div margin values####*/
.intro,
.recipe-menu {
    margin-bottom: 250px;
    margin-top: 250px;
}

/*##################TOP PORTION######################*/

/*Logo div*/
.logoAndText {
    padding-top: 20px;
    padding-bottom: 200px;
}

/*odin image*/
.odin-img {
    width: 220px;
    margin-top: -1%;
    padding-top: 56px;
    position: relative;
}

/*home title*/
.home-title {
    font-family: monospace;
    font-size: 5.4rem;
    font-weight: 900;
    width: 70%;
    margin: auto;
    padding-top: 60px;

}

/*##################INTRO PORTION######################*/

/*intro div adjustment*/

/*intro text adjustment*/
#home-intro {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.5rem;
    text-align: left;
    margin: auto;
    width: 60%;
}

.intro p {
    font-size: 5rem;
    margin-top: -80px;
}

/*##################RECIPE LIST PORTION##################*/

/*RECIPE LIST DECLARATION*/

.h1-recipe {
    font-size: 6rem;
    font-weight: 700;
}


.recipe-menu h1 {
    margin-top: -55px;
}


.recipe-menu p {
    font-size: 2rem;
    color: azure;
}


/*################ good-look part###############*/

.good-look {
    font-size: 3rem;
    font-weight: 700;
    padding-top: 230px;
    padding-bottom: 270px;
    margin: -60px auto 10px auto;
    width: 50%;
}

/*###############################--------------LASAGNA.html----------------###################################*/

/*############## COMMON SELECTORS#############*/

.lasagna-lists {
    font-size: 1.2rem;
    text-align: left;
    line-height: 2.7rem;
    margin: auto;
    max-width: 450px;
}

/*################## GROUPED TOGETHER ######################*/

.description,
.brief,
.nutrition,
.ingredients,
.directions {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 33px;
}

.description p,
.nutrition p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: left;
    margin: auto;
    max-width: 600px;
    padding-left: 10px;
    padding-top: 30px;

}

/*################## PAGE TITLE ######################*/
.title-lasagna {
    font-size: 5rem;
    margin-top: 20px;
    max-width: 100%;
}

/*################## LASAGNA IMAGE ######################*/

.lasagna-img {
    position: relative;
    width: 35%;
    height: auto;
    filter: drop-shadow(0 0 0.75rem rgb(70, 68, 68));
}

#figcaption {
    padding-top: 20px;
}

/*################## DESCRIPTION BLOCK ######################*/
/*Included in the Grouped section */

/*################## BRIEF INFORMATION BLOCK ######################*/
/*Included in the COMMON section */
/*Included in the COMMON section */

/*################## NUTRITION FACTS ######################*/
/*Included in the Grouped section */

/*################## INGREDIENTS ######################*/
/*Included in the Grouped section */
/*Included in the COMMON section */

/*################## DIRECTIONS ######################*/
/*Included in the Grouped section */
/*Included in the COMMON section */

.lasagna-ol {
    padding-bottom: 50px;
}

/*################## DIRECTIONS ######################*/

.footer-home {
    margin-top: -30px;
    padding-top: 50px;
}

/*###############################---------TURKEY.html----------------###################################*/
/*############## COMMON SELECTORS#############*/

.turkey-lists {
    font-size: 1.2rem;
    text-align: left;
    line-height: 2.7rem;
    margin: auto;
    max-width: 450px;
}

/*################## GROUPED TOGETHER ######################*/

.description,
.brief,
.nutrition,
.ingredients,
.directions,
.cooks-note {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 33px;
}

.description p,
.nutrition p,
.cooks-note p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: left;
    margin: auto;
    max-width: 600px;
    padding-left: 10px;
    padding-top: 30px;

}

/*################## PAGE TITLE ######################*/
.title-turkey {
    font-size: 5rem;
    margin-top: 20px;
    max-width: 100%;
}

/*################## TURKEY IMAGE ######################*/

.turkey-img {
    position: relative;
    width: 35%;
    height: auto;
    filter: drop-shadow(0 0 0.75rem rgb(70, 68, 68));
}

/* class name figcaption is declared universally above in Lasagna section*/

/*################## DESCRIPTION BLOCK ######################*/
/* class name Included in the Grouped section */

/*################## BRIEF INFORMATION BLOCK ######################*/
/*Included in the COMMON section */
/*Included in the COMMON section */

/*################## NUTRITION FACTS ######################*/
/* class name Included in the  Grouped section */

/*################## INGREDIENTS ######################*/
/* class name Included in the  Grouped section */
/*Included in the COMMON section */

/*################## DIRECTIONS ######################*/
/* class name Included in the Grouped section */
/*Included in the COMMON section */

/*################## DIRECTIONS ######################*/
/*Included in the Grouped section */
/*Included in the COMMON section */

.turkey-ol {
    padding-bottom: 50px;
}