/*declared the common font family overall*/
.body {
    /*background-color: #EDF6E5;*/
    background-image: linear-gradient(to top, #5ffbf1, #3ffcd1, #51faa3, #7bf46a, #a8eb12);
    color: #3d3f3f;
    font-family: 'Questrial', sans-serif;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    text-align: center;
    margin: 0;
}

/*####Horizontal rule styling*/
hr {
    border: dotted #4c50531a 9px;
    border-bottom: none;
    width: 30%;
    margin-bottom: 30px;
    margin: 90px auto;

}

/*####Link styling*/
a {
    color: #F38BA0;
    text-decoration: none;
}

a:hover {
    color: #8a71ec !important;
}

a:visited {
    color: #e2173f;
}


/*####Added button style..imported from cssbuttons.io*/
button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border-radius: 30px;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
}

button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
}

button:active {
    transform: scale(0.9);
}

/*#####GROUPED ELEMENTS sharing same div margin values####*/
.intro,
.recipe-menu {
    margin-bottom: 250px;
    margin-top: 250px;
}

/*########Footer class############*/
.footer {
    background-image: radial-gradient(circle, #d16ba555, #c777b89c, #b983ca88, #aa8fd8, #9a9ae19f, #8aa7ec, #79b2f49f, #69bff89d, #52cffe, #41dfff75, #46eefa7c, #5ffbf193);
    background-blend-mode: hard-light;
    padding-bottom: 70px;
}

.footer p {
    padding-top: 60px;
}

/*################## FIGUTE CAPTIONS UNIVERSAL ######################*/
#figcaption {
    font-size: 1rem;
    font-weight: 550;
}


/*##############--------------------CLASS AND ID SELECTORS-----------------########################*/

/*###############################--------------INDEX.html----------------###################################*/

/*##################TOP PORTION######################*/


/*Logo div*/
.logoAndText {
    padding-top: 20px;
    padding-bottom: 200px;
}

/*odin image*/
.odin-img {
    width: 220px;
    margin-top: -1%;
    padding-top: 56px;
    position: relative;
}

/*home title*/
.home-title {
    font-family: monospace;
    font-size: 5.4rem;
    font-weight: 900;
    width: 70%;
    margin: auto;
    padding-top: 60px;

}

/*##################INTRO PORTION######################*/

/*intro div adjustment*/

/*intro text adjustment*/
#home-intro {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.5rem;
    text-align: left;
    margin: auto;
    width: 60%;
}

/*##################RECIPE LIST PORTION##################*/

/*RECIPE LIST DECLARATION*/

.h1-recipe {
    font-size: 6rem;
    font-weight: 700;
}


.recipe-menu h1 {
    margin-top: -55px;
}


.recipe-menu p {
    font-size: 2rem;
    color: azure;
}


/*################ good-look part###############*/

.good-look {
    font-size: 3rem;
    font-weight: 700;
    padding-top: 230px;
    padding-bottom: 270px;
    margin: -60px auto 10px auto;
    width: 50%;
}

/*###############################--------------LASAGNA.html----------------###################################*/
/*################## GROUPED TOGETHER ######################*/
.description,
.brief {
    font-size: 3rem;
    font-weight: 600;
}

/*################## PAGE TITLE ######################*/
.title-lasagna {
    font-size: 5rem;
    margin-top: 20px;
}

/*################## LASAGNA IMAGE ######################*/

.lasagna-img {
    position: relative;
    width: 35%;
    height: auto;
}

/*################## DIRECTION BLOCK ######################*/


.description p {
    font-size: 1.2rem;
    font-weight: 500;
}

/*################## DIRECTION BLOCK ######################*/